
body {
    background-image: linear-gradient(0deg, #0f9b0f, black);
    margin: 0;
}

.screensaver {
    min-height: 100vh;
    font-size: 18px;
}

.screensaverError {
    min-height: 100vh;
    font-size: 18px;
    background-color: #000;
    display: grid;
}

.errorScreen {
    font-size: 5vw;
    color: #9e0000;
    text-align: center;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

.welcome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color:#0f9b0f;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 3px lime;
}

.header {
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 0;
    z-index: 50;
}

.box {
    font-family: Courier New;
    border: 1px inset lime;
    background: #111;
    box-shadow: 8px 8px 10px 0px #fff3;
    color: lime
}

.pages {
    
    display: grid;
    justify-items: center;
    font-family: Courier New;
    border-top: 1px inset lime;
    border-bottom: 1px inset lime;
    background: #111;
    box-shadow: 8px 8px 10px 0px #fff3;
    color: lime;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10vw;
    gap: 10px;
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(179, 0, 179);
    width: fit-content;
    
}

.linkChild {
    color: gray;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.link:hover {
    text-decoration: underline;
}

.view {

    background: black;
    border: 1px dotted lime;
    box-shadow: 8px 8px 10px 0px #fff3;
    min-width: fit-content;
    width:10%;
    color:white;
    font-family: Courier New;
    cursor: pointer;
    z-index: 10;
}

.connection {
    text-align: center;
    font-family: Courier New;
    color: rgb(158, 0, 0);
    background-color: #111;
    margin: 0;
}

.console {
    font-family: Courier New;
    border: 1px dotted lime;
    background: black;
    color: lime;
    z-index: 20;
    position: relative;
    min-width: fit-content;
}

.newMessages {
    text-align: center;
    margin: 2vh 15vw;
}

.connected {
    border-top: 1px dotted lime;
    background: #111;
    color: white;
    margin-top: 1vh;
    text-align: center;
}

.arrow {
    font-family: Courier New;
    background: #111;
    border-left: 1px dotted lime;
    border-right: 0px;
    
    border-bottom: 1px dotted lime;
    box-shadow: 8px 8px 10px 0px #fff3;
    color: lime;
    padding-top: 3px;
    z-index: 10;
}

.consoleInput {
    font-family: Courier New;
    border-right: 1px dotted lime;
    border-left: 0px;
    
    border-bottom: 1px dotted lime;
    box-shadow: 8px 8px 10px 0px #fff3;
    width: 100%;
    background: #111;
    color: lime;
    font-size: 18px;
    z-index: 10;
}

.consoleInput::placeholder {
    color: rgb(158, 0, 0);
}

.speakerServer {
    margin: 0; 
    color: white;
}

.speakerRed {
    margin: 0; 
    color: red;
}

.speakerBlue {
    margin: 0; 
    color: blue;
}

.speakerYellow {
    margin: 0; 
    color: yellow;
}

.speakerLime {
    margin: 0;
    color: lime;
}

.speakerGreen {
    margin: 0;
    color: green;
}